# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Streamlit
.streamlit/

# VSCode
.vscode/

# macOS
.DS_Store
